body {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  p {
    margin: 0 50px;
  }
}

.channel {
  border: 1px solid #ccc;
  background-color: lightgray;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  text-align: center;
}

.channel h2 {
  margin-top: 0;
}

.glitch {
  display: none;
}

label {
  margin-right: 10px;
}

#channels {
  display: flex;
}

button,
input {
  margin: 10px 0;
}

input[type="range"] {
  vertical-align: middle;
  height: 400px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.gain {
  align-self: center;
}

.reverbSlider,
.pitchSlider {
  display: flex;
  align-items: center;
  flex-direction: row;; 
  margin-bottom: 8px;
  span {
    margin-right: 8px;
  }
  input {
    height: 50px;
  }
}

button {
  height: 35px;
  width: 100%;
  font-family: monospace;
}

.active {
  background-color: lightgreen;
}

.tape, 
.reverb {
  width: 50px;
  align-self: center;
}

.tape.rotating {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}
