body {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.channel {
  border: 1px solid #ccc;
  background-color: lightgray;
  padding: 10px;
  margin: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.channel h2 {
  margin-top: 0;
}

label {
  margin-right: 10px;
}

#channels {
  display: flex;
}

button,
input {
  margin: 10px 0;
}

input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: middle;
  height: 400px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.gain {
  align-self: center;
}
