body {
  font-family: monospace;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  p {
    margin: 0 50px;
  }
}

.channel {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: lightgray;
  padding: 10px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  text-align: center;
}

.channel h2 {
  margin-top: 0;
}

label {
  margin-right: 10px;
}

#channels {
  display: flex;
}

button,
input {
  margin: 10px 0;
}

input[type="range"] {
  vertical-align: middle;
  height: 400px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.gain {
  align-self: center;
}

.reverbSlider {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  flex-direction: row;; 
  margin-bottom: 8px;
  span {
    margin-right: 8px;
  }
  input {
    height: 50px;
  }
}

button {
  height: 35px;
  width: 100%;
  font-family: monospace;
}
